<div  *ngIf="product.length > 0 else nohotels" >


<div class="alert alert-primary" *ngFor="let productdata of product">
    ProductId:{{productdata.ProductId}}
    <br/>
    ProductName:{{productdata.ProductName}}
    <br/>
    ProductPrice:{{productdata.ProductPrice}}
    <br/>
    ProductQuantity:{{productdata.ProductQuantity}}
    <br/>
    ProductImage:{{productdata.ProductImage}}
    <br/>
    ProductType:{{productdata.ProductStatus}}
    <br/>
    ProductStatus:{{productdata.ProductStatus}}
    <br/>
    </div>
</div>
<ng-template #nohotels >
    <div class="alert alert-warning">No product</div></ng-template>
