div{
    width: 300px;
    height: 350px;
    background: transparent;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://pngtree.com/freebackground/mobility-meets-security-3d-rendered-login-to-your-account-on-mobile-phone_11971703.html') no-repeat;
    background-size: cover;
    background-position: center;
}