<!-- 
    <div  *ngIf="resultdata.length > 0 else nohotels" >
    
    
    <div class="alert alert-primary" *ngFor="let productdata of resultdata">
        ProductId:{{productdata.CartId}}
        <br/>
        ProductName:{{productdata.ProductId}}
        <br/>
        ProductPrice:{{productdata.Username}}
        <br/>
        ProductQuantity:{{productdata.ProductQuntity}}
        <br/>
        <button>click the order</button>
       
    </div>
    <ng-template #nohotels >
        <div class="alert alert-warning">No product</div></ng-template>
     -->